<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harameter.harameter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/roundicon"
        android:supportsRtl="true"
        android:theme="@style/HaraTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="DashboardActivity"></activity>
        <activity
            android:name=".BluetoothActivity"
            android:label="BluetoothActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="Harameter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>